<div class="modal fade" id="choiceQuestionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="myModalLabel">Crear Pregunta de Alternativas</h4>
      </div>
      <form action="" method="post">
        {% csrf_token %}

        <div class="modal-body">
          <div class="form-group">
            <label for="id_text">Enunciado</label>
            <textarea name="text" id="id_text" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <p>
              Ingrese las respuestas que encuentre pertinente, puede dejar las del final
              en blanco para indicar que no se usarán.
            </p>

            <table class="table">
              <tr>
                <th width="20" style="vertical-align: middle">A)</th>
                <td><input type="text" name="alternative_a" class="form-control"></td>
                <td width="20" style="vertical-align: middle">
                  <input type="radio" name="correct" value="1" checked>
                </td>
              </tr>
              <tr>
                <th width="20" style="vertical-align: middle">B)</th>
                <td><input type="text" name="alternative_b" class="form-control"></td>
                <td width="20" style="vertical-align: middle">
                  <input type="radio" name="correct" value="2">
                </td>
              </tr>
              <tr>
                <th width="20" style="vertical-align: middle">C)</th>
                <td><input type="text" name="alternative_c" class="form-control"></td>
                <td width="20" style="vertical-align: middle">
                  <input type="radio" name="correct" value="3">
                </td>
              </tr>
              <tr>
                <th width="20" style="vertical-align: middle">D)</th>
                <td><input type="text" name="alternative_d" class="form-control"></td>
                <td width="20" style="vertical-align: middle">
                  <input type="radio" name="correct" value="4">
                </td>
              </tr>
              <tr>
                <th width="20" style="vertical-align: middle">E)</th>
                <td><input type="text" name="alternative_e" class="form-control"></td>
                <td width="20" style="vertical-align: middle">
                  <input type="radio" name="correct" value="5">
                </td>
              </tr>
            </table>
          </div>

          <div class="form-group">
            <label for="id_score">Puntaje</label>
            <input type="number" name="score" id="id_score" class="form-control" max="100" min="0" value="100">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
