{% if test_list.count == 0 %}
  <div class="alert alert-warning">
    Sin controles
  </div>
{% else %}
  <table class="table">
    <thead>
    <tr>
      <th width="50%">Nombre</th>
      <th width="50%">Sesión</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for test in test_list.all %}
      <tr>
        <td><a href="{% url 'tests:test_detail' test.pk %}">{{ test.name }}</a></td>
        <td><a href="{{ test.session.get_absolute_url }}">{{ test.session.number }}</a></td>
        <td><a href="{{ test.get_update_url }}" class="glyphicon glyphicon-pencil"></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
