{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
    <li><a href="{% url 'tests:test_list' course.pk %}">Controles</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'tests:test_create' course.pk %}" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Control
      </a>

      <h1 class="header"><span class="glyphicon glyphicon-file step"></span> Controles</h1>

      {% include 'tests/_test_list.html' %}
    </div>
  </div>
{% endblock %}