{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' test.course.pk %}">{{ test.course }}</a></li>
    <li><a href="{% url 'tests:test_list' test.course.pk %}">Controles</a></li>
    <li><a href="{% url 'tests:test_detail' test.pk %}">{{ test }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <!-- Control buttons -->
        <span class="pull-right hidden-xs">
          <a href="{{ test.get_delete_url }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="back-step hidden-xs">
              Eliminar
            </span>
          </a>

          <a href="{{ test.get_update_url }}" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="back-step hidden-xs">
              Editar
            </span>
          </a>
        </span>

        <span class="glyphicon glyphicon-map-marker step"></span>
        {{ test }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div>
        <div class="pull-right">
          <a href="{% url 'tests:version_create' test.pk %}" class="btn btn-primary btn-sm">Crear forma</a>
        </div>

        <h3>Formas</h3>
      </div>

      <div class="list-group">
        {% for version in test.version_set.all %}
          <a href="{{ version.get_absolute_url }}" class="list-group-item">Forma {{ version.index }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Detalles
        </div>

        <div class="panel-body">
          <table width="100%">
            <tbody>
            <tr>
              <th>Software</th>
              <td>{{ test.software.name }}</td>
            </tr>

            <tr>
              <th>Sesión</th>
              <td>{{ test.session.number }} ({{ test.session.name }})</td>
            </tr>

            <tr>
              <th>Estado</th>
              <td>
                {% if test.active %}Activo{% else %}Inactivo{% endif %}
              </td>
            </tr>

            <tr>
              <th>Formas</th>
              <td>
                {{ test.version_set.count }}
              </td>
            </tr>

            <tr>
              <th>Puntaje</th>
              <td>
                --
              </td>
            </tr>

            <tr>
              <th>Duración</th>
              <td>
                {{ test.get_timeout_display }}
              </td>
            </tr>

            <tr>
              <th>Respuestas</th>
              <td>
                --
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row hidden-sm hidden-md hidden-lg">
    <div class="col-sm-12">
      <a href="{{ test.get_update_url }}" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      </a>

      <a href="{{ test.get_delete_url }}" class="btn btn-danger btn-block">
        <span class="glyphicon glyphicon-remove"></span>
        Eliminar
      </a>
    </div>
  </div>
{% endblock %}