{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' version.test.course.pk %}">{{ version.test.course }}</a></li>
    <li><a href="{% url 'tests:test_list' version.test.course.pk %}">Controles</a></li>
    <li><a href="{% url 'tests:test_detail' version.test.pk %}">{{ version.test }}</a></li>
    <li><a href="{% url 'tests:version_detail' version.pk %}">Forma {n}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-map-marker step"></span>
        {{ version.test }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <div class="pull-right">
          <a href="#" class="btn btn-primary btn-sm">Nueva pregunta</a>
        </div>

        <h3>Forma {n}</h3>
      </div>

      <hr>

      <div class="panel panel-default">
        <div class="panel-body text-justify">
          <a class="pull-right btn btn-success btn-sm" style="margin-left: 15px">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

          <strong>1.-</strong>
          <i>[100%]</i>
          {% lorem %}
        </div>

        <div class="list-group">
          <div class="list-group-item">
            <span class="glyphicon glyphicon-unchecked text-muted pull-right"></span>
            <strong>A)</strong> Lorem ipsum dolor sit amet.
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-ok text-success pull-right"></span>
            <strong>B)</strong> Eaque harum magni praesentium quam quasi
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-unchecked text-muted pull-right"></span>
            <strong>C)</strong> Debitis ea eligendi explicabo id impedit
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-unchecked text-muted pull-right"></span>
            <strong>D)</strong> Impedit iste iusto libero, neque
          </div>
          <div class="list-group-item">
            <span class="glyphicon glyphicon-unchecked text-muted pull-right"></span>
            <strong>E)</strong> Repellat sed temporibus ullam
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 text-right">
      <a href="{{ version.get_delete_url }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="back-step hidden-xs">
          Eliminar Forma
        </span>
      </a>
    </div>
  </div>
{% endblock %}