{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' version.test.course.pk %}">{{ version.test.course }}</a></li>
    <li><a href="{% url 'tests:test_list' version.test.course.pk %}">Controles</a></li>
    <li><a href="{% url 'tests:test_detail' version.test.pk %}">{{ version.test }}</a></li>
    <li><a href="{% url 'tests:version_detail' version.pk %}">Forma {{ version.index }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-map-marker step"></span>
        {{ version.test }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Nueva pregunta <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{% url 'tests:choicequestion_create' version.pk %}">Alternativas</a></li>
              <li><a href="#">Numérica</a></li>
              <li><a href="#">Texto</a></li>
            </ul>
          </div>
        </div>

        <h3>Forma {{ version.index }}</h3>
      </div>

      <hr>

      {% for question in version.question_set.all %}
        <div class="panel panel-default">
          <div class="panel-body text-justify">
            <a class="pull-right btn btn-success btn-sm" style="margin-left: 15px">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>

            <strong>{{ forloop.counter }}.-</strong>
            <i>[{{ question.score }}pts]</i>
            {{ question.text }}
          </div>

          {% if question.choicequestion %}
            {% include 'tests/_choice_answers.html' %}
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="col-sm-12 text-right">
      <a href="{{ version.get_delete_url }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="back-step hidden-xs">
          Eliminar Forma
        </span>
      </a>
    </div>
  </div>

  {% include 'tests/_modal_choice_question.html' %}
{% endblock %}
