{% if course.new_set.count == 0 %}
  <div class="alert alert-warning">
    Sin noticias
  </div>
{% else %}
  {% for new in new_list %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          {{ new.create_date | date:'d/m/Y - H:i' }}
        </div>

        <a href="{{ new.get_absolute_url }}">{{ new.title }}</a>
      </div>

      <div class="panel-body">
        {{ new.body | truncatechars:180 }}
      </div>
    </div>
  {% endfor %}
{% endif %}
