{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
    <li class="active"><a href="{% url 'news:index' course.pk %}">Noticias</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <a class="btn btn-success" href="{% url 'news:create' course.pk %}">
          <span class="glyphicon glyphicon-plus"></span>
          Publicar noticia
        </a>
      </div>

      <h1 class="header">Noticias</h1>

      {% include 'news/_list.html' %}
    </div>
  </div>
{% endblock %}
