{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' new.course.pk %}">{{ new.course }}</a></li>
    <li><a href="{% url 'news:index' new.course.pk %}">Noticias</a></li>
    <li class="active">{{ new.title }}</li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      {% if new.owner == request.user %}
        <a href="{% url 'news:edit' new.course.pk new.pk %}" class="btn btn-success pull-right">
          <span href="" class="glyphicon glyphicon-pencil"></span>
        </a>
      {% endif %}

      <h1 class="header">{{ new.title }}</h1>

      {{ new.body | linebreaks }}
    </div>
  </div>
{% endblock %}
