{% extends 'base_courses.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ pretest.course.get_absolute_url }}">{{ pretest.course }}</a></li>
    <li><a href="{{ pretest.course.get_pretests_url }}">Preinformes</a></li>
    <li><a href="{{ pretest.get_absolute_url }}">{{ pretest }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="pull-right">
          <a href="{{ pretest.get_update_url }}" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil step"></span>
            Editar
          </a>
        </span>

        <span class="glyphicon glyphicon-inbox step"></span>
        {{ pretest }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Preinforme
        </div>

        <div class="panel-body">
          <table width="100%">
            <tbody>
            <tr>
              <td width="25%">Nombre</td>
              <td>{{ pretest.name }}</td>
            </tr>

            <tr>
              <td>Sesión Inicio</td>
              <td>{{ pretest.start_session }}</td>
            </tr>

            <tr>
              <td>Sesión Entrega</td>
              <td>{{ pretest.end_session }}</td>
            </tr>

            <tr>
              <td>Porcentaje</td>
              <td>{{ pretest.percentage }}%</td>
            </tr>

            <tr>
              <td>Mostrar calificaciones</td>
              <td>{% if pretest.show_grade %}Si{% else %}No{% endif %}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <a href="{% url 'pretests:pretestfile_create' pretest.course.pk pretest.pk %}">
              <span class="glyphicon glyphicon-upload"></span> Subir Archivo
            </a>
          </div>

          Archivos
        </div>

        {% if pretest.pretestfile_set.count == 0 %}
          <div class="panel-body">
            <div class="alert alert-info">
              Sin archivos
            </div>
          </div>
        {% else %}
          <div class="list-group">
            {% for file in pretest.pretestfile_set.all %}
              <div class="list-group-item">
                <a href="{{ file.get_delete_url }}" class="pull-right">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>

                <a href="{{ file.file.url }}">{{ file.name }}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}