<div class="row">
  <div class="col-sm-12">
    {% if course.coursefile_set.all %}
      <div class="list-group">
        {% for file in course.coursefile_set.all %}
          <a href="{{ file.get_download_url }}" class="list-group-item">
            <span class="glyphicon glyphicon-file step"></span>
            {{ file.name }}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-warning">No hay archivos disponibles</div>
    {% endif %}
  </div>
</div>
