{% if course.new_set.all %}
  {% for new in course.new_set.all %}
    <div class="panel panel-default student-news">
      <div class="panel-heading">
        <h4>
          {{ new.title }}
          <small>{{ new.create_date }}</small>
        </h4>
      </div>
      <div class="panel-body">
        <div class="text-justify markdown-body editormd-preview-container ">
          {{ new.html | safe }}
        </div>
      </div>
      <div class="panel-footer text-center">
        <button type="button" class="btn btn-link see-more-news" data-target="#news{{ new.pk }}">Ver más</button>
      </div>
    </div>

    <div class="modal" id="news{{ new.pk }}" tabindex="-1" role="dialog">
      <div class="modal-dialog-news col-sm-8 col-sm-offset-2">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
            <h4 class="modal-title">{{ new.title }}</h4>
          </div>
          <div class="modal-body">
            <div class="text-justify markdown-body editormd-preview-container">
              {{ new.html | safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="alert alert-warning">No hay noticias disponibles</div>
{% endif %}
