{% load test %}
{% has_tests_to_show agenda as tests_to_show %}
{% if agenda.has_active_tests and tests_to_show %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <table class="table table-responsive">
          {% for agendatest in agenda.agendatest_set.all %}
            {% get_status_code agendatest.test as test_status %}

            {% if agendatest.active and test_status != 2 %}
              <tr>
                <td width="60%">
                  <div>
                    <strong>{{ agendatest.test.name }}</strong>
                  </div>

                  <div>
                    Sesión {{ agendatest.test.session }}, {{ agendatest.test.get_timeout_display }}
                  </div>
                </td>
                <td width="20%">
                  {% autoescape off %}{% print_status agendatest.test %}{% endautoescape %}
                </td>
                <td width="20%">
                  {% if agendatest.test.status == 2 %}
                    <a class="btn btn-default pull-right disabled"><span
                        class="glyphicon glyphicon glyphicon-ok"></span></a>
                  {% else %}
                    <a href="{% url 'students:test_preconfirmation' agendatest.test.pk %}" class="btn btn-default pull-right"><span
                        class="glyphicon glyphicon-play"></span></a>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% else %}
  <div class="alert alert-warning">No hay controles disponibles</div>
{% endif %}
{% if submitted_tests %}
  <div class="row">
    <div class="col-sm-12">
      <h4>Controles enviados</h4>
      <div class="panel panel-default">
        <table class="table table-responsive">
          {% for test in submitted_tests %}
            <tr>
              <td width="100%">
                <div>
                  <strong>{{ test.version.test.name }}</strong>
                </div>

                <div>
                  Sesión {{ test.version.test.session }}
                </div>
              </td>
              <td width="0%" class="spacing bg">
                {% if test.qualification %}
                  {% if test.version.test.show_grade %}
                    <div class="pull-right text-info lead">{{ test.qualification }}</div>
                  {% else %}
                    <span class="pull-right  text-success">Revisado</span>
                  {% endif %}
                {% else %}
                  <span class="pull-right text-info">Pendiente de revisión</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endif %}