{% extends 'base_students.html' %}
{% load static %}

{% block breadcrump %}
  <!-- Left Blank -->
{% endblock %}

{% block link %}
  <link rel="stylesheet"
        href="{% static 'vendor/editormd/css/editormd.min.css' %}"/>
{% endblock %}
{% block container %}
  <div class="col-sm-12">
    <h1 class="page-header">{{ course }}</h1>
  </div>

  <div class="col-sm-12">
    {% include 'students/_poll.html' %}

    <h2 class="page-header"><span class="glyphicon glyphicon-map-marker step"></span> Sesiones</h2>
    {% include 'students/_sessions.html' %}

    <h2 class="page-header"><span class="glyphicon glyphicon- file step"></span> Controles</h2>
    {% include 'students/_tests.html' %}

    <h2 class="page-header"><span class="glyphicon glyphicon-inbox step"></span> Preinformes</h2>
    {% include 'students/_pretests.html' %}

    <h2 class="page-header"><span class="glyphicon glyphicon-download step"></span> Archivos</h2>
    {% include 'students/_files.html' %}

    <h2 class="page-header"><span class="glyphicon glyphicon-bookmark step"></span> Noticias</h2>
    {% include 'students/_news.html' %}
  </div>
{% endblock %}

{% block script %}
  <script>
      $('.see-more-news').click(function () {
          $($(this).attr('data-target')).modal({});
      });
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });

  </script>

  <script type="text/javascript"
          src="//lab.mat.utfsm.cl/mathjax/MathJax.js">
  </script>
{% endblock %}