{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>[ADN3] Listado de Cursos</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="jumbotron.css" rel="stylesheet"> -->

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->
  <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'landing:index' %}">ADN3</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header"><span class="glyphicon glyphicon-th step"></span> Preinscripciones</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Seleccione un curso para pre-inscribir
        </div>

        <div class="list-group">
          {% for course in course_list %}
            {% if course.is_active %}
              <a href="{{ course.get_preregistrations_create_url }}"
                 class="list-group-item">
                {{ course }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Pre-inscripciones activas
        </div>

        <div class="list-group">
          {% for pr in request.user.student.preregistration_set.all %}
            {% if pr.course.is_active %}
              <a href="{{ pr.get_absolute_url }}"
                 class="list-group-item">
                {{ pr.course }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <footer>
    <p>Departamento de Matemáticas, 2016, <br>Universidad Técnica Federico
      Santa Maria</p>
  </footer>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
