{% extends 'form_temp.html' %}
{% load bootstrap3 %}
{% load preregistrations %}
{% load static %}

{% block breadcrump %}
  <!-- Intentional No Breadcrump -->
{% endblock %}

{% block icon %}
  <span class="glyphicon glyphicon-th step"></span>
{% endblock %}

{% block form %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Debe seleccionar al menos una preferencia.</strong>
    </div>
  {% endif %}

  <div class="alert alert-info">
    Recuerde leer las noticias del curso antes de preinscribir!

    <p><a href="{% url 'preregistrations:new_list' course.pk %}" class="alert-link">Presione aquí para ver las noticias
      de este curso.</a></p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Calendario
    </div>

    <div class="panel-body">
      Seleccione los bloques en orden de preferencia, puede escoger hasta 5
      bloques.
    </div>

    {% generate_calendar %}
  </div>

  <form action="" method="post">
    {% csrf_token %}

    <div class="panel panel-default">
      <div class="panel-heading">
        Mis preferencias
      </div>

      <div class="list-group">
        <div class="list-group-item" id="selected"></div>
        <div class="list-group-item">
          <div class="form-group">
            <label for="id-parallel">Paralelo</label>
            <input type="number" name="parallel" id="id-parallel" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="id-software">Software</label>
            <select name="software" id="id-software" class="form-control">
              {% for software in software_list %}
                <option value="{{ software.pk }}">{{ software }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="id-experience">¿Ha rendido esta experiencia anteriormente?</label>
            <input type="checkbox" name="previous_experience" id="id-experience">
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="pull-right">
          <button class="btn btn-success">Enviar Pre-Inscripción</button>
        </div>

        <p>Presione los bloques para eliminarlo de su preferencia.</p>
      </div>
    </div>
  </form>
{% endblock %}

{% block page_header %}
  Inscripción {{ view.get_course }}
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery-ui.js' %}"></script>

  <script>
    $(function () {
      var selected = 0;

      $('.calendar-item').click(function () {
        var self = $(this);

        if (self.data('added') === false || self.data('added') === undefined) {
          if (selected >= 5) {
            alert('Ya ha seleccionado el límite máximo de bloques!');
            return;
          }

          // add to selected list.
          self.data('parent', $(self[0].parentNode));
          $('#selected').append(self);
          self.data('added', true);
          selected += 1;
        } else {
          // return to place.
          self.data('parent').append(self);
          self.data('added', false);
          selected -= 1;
        }
      });
    });
  </script>
{% endblock %}
