{% extends 'base.html' %}

{% block breadcrump %}
  <!-- EMPTY -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          Pre-inscrito exitosamente
        </div>

        <div class="panel-body">
          Estimado/a
          <strong>{{ object.first_name }} {{ object.last_names }}</strong>
          hemos recibido
          su pre-inscripción al curso <strong>{{ object.course }}</strong>
          con los siguientes datos:
        </div>

        <table class="table table-responsive">
          <tbody>
          <tr>
            <th width="20%">Rol USM</th>
            <td>{{ object.student.rol }}</td>
          </tr>
          <tr>
            <th>Prioridad USM</th>
            <td>{{ object.student.usm_priority }}</td>
          </tr>
          {% if object.psu_score %}
            <tr>
              <th>Puntaje PSU</th>
              <td>{{ object.psu_score }}</td>
            </tr>
          {% endif %}
          <tr>
            <th>Primera Preferencia</th>
            <td>{{ object.get_first_preference_display }}</td>
          </tr>

          {% if object.second_preference %}
            <tr>
              <th>Segunda Preferencia</th>
              <td>{{ object.get_second_preference_display }}</td>
            </tr>
          {% endif %}

          {% if object.third_preference %}
            <tr>
              <th>Tercera Preferencia</th>
              <td>{{ object.get_third_preference_display }}</td>
            </tr>
          {% endif %}

          {% if object.fourth_preference %}
            <tr>
              <th>Cuarta Preferencia</th>
              <td>{{ object.get_fourth_preference_display }}</td>
            </tr>
          {% endif %}

          {% if object.fifth_preference %}
            <tr>
              <th>Quinta Preferencia</th>
              <td>{{ object.get_fifth_preference_display }}</td>
            </tr>
          {% endif %}
          </tbody>
        </table>

        <div class="panel-footer">
          Al terminar el proceso de pre-inscripción se la hará saber en que agenda quedó seleccionado.
        </div>
      </div>

      <div>
        <a href="{{ object.get_delete_url }}" class="btn btn-danger pull-right">Eliminar Pre-Inscripción</a>
        <div class="text-danger">* Si hubo algún error puede borrar esta pre-inscripción y volver a crearla.</div>
      </div>
    </div>
  </div>
{% endblock %}
