{% extends 'base_courses.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ agenda.course.get_absolute_url }}">{{ agenda.course }}</a>
    </li>
    <li><a href="{{ agenda.course.get_agendas_url }}">Agendas</a></li>
    <li>
      <a href="{% url 'attendance:show' course.pk agenda.pk %}">
        {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </a>
    </li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <div class="pull-right">
          <a href="{{ agenda.get_update_url }}" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </div>

        Agenda: {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h3 class="header">
        <span class="glyphicon glyphicon glyphicon-user step"></span>
        Ayudantes
      </h3>

      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="table-heading">
              <th>Nombre</th>
              <th>Rol</th>
              <th>Correo electrónico</th>
            </tr>
            </thead>
            <tbody>
            {% for assistant in agenda.assistants.all %}
              <tr>
                <td>{{ assistant.first_name }} {{ assistant.last_name }}</td>
                <td>{{ assistant.student.rol }}</td>
                <td><a href="mailto:{{ assistant.username }}">{{ assistant.username }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h3 class="header">
        Detalles
      </h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          Detalles
        </div>

        <div class="table-responsive">
          <table class="table ">
            <tbody>
            <tr>
              <th>Sala</th>
              <td>{{ agenda.room }}</td>
            </tr>

            <tr>
              <th>Inscritos</th>
              <td>{{ agenda.inscriptions.count }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3 class="header">
        <span class="glyphicon glyphicon-list-alt step"></span>
        Asistencia
      </h3>

      {% if table %}
        {% include 'attendance/_table.html' %}
      {% else %}
        <div class="alert alert-warning">
          No hay información que mostrar.
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
