{% if course.session_set.count == 0 %}
  <div class="alert alert-warning">
    Sin sesiones
  </div>
{% else %}
  <div class="panel panel-default">
    <table class="table">
      <thead>
      <tr class="table-heading">
        <th>#</th>
        <th width="75%">Nombre</th>
        <th>Inicio</th>
        <th>Término</th>
        <th>Duración</th>
        <th>Estado</th>
        <th>Tipo</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      {% for session in course.session_set.all %}
        <tr>
          <td>{{ session.number }}</td>
          <td><a href="{% url 'classes:show' session.pk %}">{{ session.name }}</a></td>
          <td class="text-center">{{ session.start_date | date:'d/m' }}</td>
          <td class="text-center">{{ session.end_date | date:'d/m' }}</td>
          <td class="text-center">{{ session.duration }} días</td>
          <td class="text-center">{{ session.get_state_display }}</td>
          <td class="text-center">{{ session.get_session_type_display }}</td>
          <td><a href="{% url 'classes:edit' course.pk session.pk %}" class="glyphicon glyphicon-pencil"></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
