{% if course.session_set.count == 0 %}
  <div class="alert alert-warning">
    Sin sesiones
  </div>
{% else %}
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th width="75%">Nombre</th>
      <th>Inicio</th>
      <th>Término</th>
    </tr>
    </thead>

    <tbody>
    {% for session in course.session_set.all %}
      <tr>
        <td>{{ session.number }}</td>
        <td>{{ session.name }}</td>
        <td class="text-center">{{ session.start_date | date:'d/m' }}</td>
        <td class="text-center">{{ session.end_date | date:'d/m' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
