{% extends 'base_teachers.html' %}

{% block breadcrump %}
  <!-- Left blank -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h2 class="header"><span class="glyphicon glyphicon-console step"></span> Administración</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-list-alt step"></span>
          Cursos
        </div>

        <div class="list-group">
          <a href="{% url 'administration:course_create' %}" class="list-group-item">
            Registrar <strong>curso</strong>
          </a>

          <a href="{% url 'administration:teacher_course_create' %}" class="list-group-item">
            Asignar <strong>profesor</strong> a curso
          </a>

          <a href="{% url 'administration:co_assistant_course_create' %}" class="list-group-item">
            Asignar <strong>ayudante coordinador</strong> a curso
          </a>

          <a href="{% url 'administration:agenda_create' %}" class="list-group-item">
            Crear  <strong>agenda</strong>
          </a>

          <a href="{% url 'administration:assistant_course_select' %}" class="list-group-item">
            Asignar <strong>ayudante</strong> a agenda
          </a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user step"></span>
          Usuarios
        </div>

        <div class="list-group">
          <a href="{% url 'administration:teacher_create' %}" class="list-group-item">
            Registrar <strong>profesor</strong>
          </a>

          <a href="{% url 'administration:student_create' %}" class="list-group-item">
            Registrar <strong>estudiante</strong>
          </a>

          <a href="{% url 'administration:assistant_create' %}" class="list-group-item">
            Registrar <strong>ayudante</strong>
          </a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-wrench step"></span>
          Configuración
        </div>

        <div class="list-group">
          <a href="{% url 'administration:yearsemester_update' %}" class="list-group-item">
            Actualizar <strong>período académico</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
