{% extends 'administration/form.html' %}

{% block title %}
  Asignar ayudante a curso
{% endblock %}

{% block detail %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th width="50%">Curso</th>
          <th>ayudantes</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course }}</td>
            <td>
              {% if course.get_coordinator_assistants %}
                <lu>
                  {% for teacher in course.get_coordinator_assistants %}
                    <li>{{ teacher }}</li>
                  {% endfor %}
                </lu>
              {% else %}
                <span class="text-danger">No hay ayudantes asignados</span>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
