{% extends 'administration/form.html' %}

{% load administration %}

{% block title %}
  Registrar curso
{% endblock %}

{% block detail %}
  <div class="panel-body">
    Cursos ya creados en este semestre:
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th width="60%">Nombre</th>
        <th width="20%">Sigla</th>
        <th width="20%">Campus</th>
        <th width="0">Admin</th>
      </tr>
      </thead>

      <tbody>
      {% for course in view.get_courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.code }}</td>
          <td>{{ course.campus }}</td>
          <td><a href="{{ course|admin_url }}">Admin</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
