{% extends 'base_teachers.html' %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            Registrar Profesor
          </div>

          <div class="panel-body">
            Profesor creado con éxito.
          </div>

          <div class="panel-footer text-right">
            <a class="btn btn-primary" href="{% url 'administration:administration_index' %}">Volver</a>
            <a class="btn btn-success" href="{% url 'administration:teacher_create' %}">Registrar otro profesor</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
