<div class="panel panel-default">
    <table class="table table-responsive">
        {% for pretest in course.pretest_set.all %}
            <tr>
                <td>
                    <div>
                        <strong>{{ pretest.name }}</strong>
                    </div>

                    <div>
                        <a href="{% url 'public:pretest_detail' pretest.pk %}">Entrega en
                            Sesión {{ pretest.end_session.number }}</a>
                    </div>
                </td>
                <td>
                    <div>
                        <strong>Archivos</strong>
                    </div>

                    {% for file in pretest.pretestfile_set.all %}
                        <div><span class="glyphicon glyphicon-file step"></span> <a
                                href="{{ file.file.url }}">{{ file }}</a></div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
