{% extends 'base.html' %}
{% block bodytag %}
    <body class="body-test">
{% endblock %}
{% block breadcrump %}
  <!-- Left Blank -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">Mis Cursos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        {% for agenda in agenda_list %}
          {% if agenda.course.status %}
            <a href="{% url 'public:course_detail' agenda.course.pk %}" class="list-group-item">
              {{ agenda.course }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
