{% extends 'base.html' %}

{% block breadcrump %}{% endblock %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">Bienvenido!</div>

          <div class="panel-body text-justify">
            <p>
              El Departamento de Matemática de la
              UTFSM a través de los laboratorios de
              computación tiene como misión innovar
              en la formación de pregrado en
              Matemática para las carreras de
              Ingeniería, introduciendo herramientas
              computacionales necesarias para
              comprender, aplicar y potenciar
              conocimientos aprendidos en cursos
              dictados en forma tradicional, esto es,
              en cátedras de tipo conferencia.

              De esta manera, cada laboratorio de computación es una actividad
              complementaria a la clase teórica destinada fundamentalmente a trabajar con
              computador, y software matemáticos apropiados, algunos conceptos y métodos
              revisados en teoría, lo que además permite estudiar aplicaciones más avanzadas de
              la matemática en ingeniería.
            </p>

            <p>
              Responsable Laboratorio: Dr. Jaime Figueroa.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        {% include 'landing/_login.html' %}
      </div>
    </div>
  </div>
{% endblock %}
