{% extends 'base_courses.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ new.course.get_absolute_url }}">{{ new.course }}</a></li>
    <li><a href="{{ new.course.get_news_url }}">Noticias</a></li>
    <li><a href="{{ new.course.get_absolute_url }}">{{ new.title }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      {% if new.owner == request.user %}
        <div class="pull-right">
          <a href="{{ new.get_update_url }}" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-pencil"></span> Editar
          </a>
        </div>
      {% endif %}

      {% include 'news/_new.html' %}
    </div>
  </div>
{% endblock %}
