{% if course.coursefile_set.count == 0 %}
  <div class="alert alert-warning">
    Sin archivos
  </div>
{% else %}
  <ul class="list-group">
    {% for file in course.coursefile_set.all %}
      <li class="list-group-item">
        <div class="pull-right">
          <a href="#" data-clipboard-text="{{ request.get_host }}{{ file.file.url }}" class="step">Copiar Enlace</a>

          {{ file.downloads }} <span class="glyphicon glyphicon-download-alt back-step"></span>
        </div>

        <a href="{{ file.get_absolute_url }}">{{ file.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
