/*
 * General
 */
.header, .page-header {
    margin-top: 0;
    padding-bottom: 8px;
    padding-left: 2px;
    border-bottom: 1px #dedede solid;
}

body {
    color: #555;
}

.container {
    max-width: 1000px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.label-simple {
    background-color: #f5f5f5;
}

table {
    overflow: hidden;
}

#course-container {
    padding-top: 15px;
}

#course-container > div:nth-child(2) {
    border-left: 1px solid #ededed;
}

#course-container > div:nth-child(1) > ul {
    position: fixed;
    width: inherit;
    padding-right: 40px;
}

.collapse-title {
    font-size: 24px;
}

.collapse-title:hover, .collapse-title:focus {
    text-decoration: none;
}

.sidebar {
    z-index: 90;
}

/*
 * Navbar
 */
.navbar {
    margin: 0;
    border-radius: 0;
    z-index: 90;
}

.navbar + .container {
    margin-top: 24px;
}

.nav-inner-item {
    padding: 0;
    margin: 0 0 0 8px;
    background-color: #ffffff !important;
    border-left: 2px #428bca solid;
}

.nav-inner-item > a {
    padding: 7px !important;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Special text
 */
.info-date {
    padding: 8px;
    color: #999;
}

.text-fit {
    margin: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-link {
    margin-top: 8px;
}

.header-fit {
    margin-bottom: 5px;
}

.fit {
    margin: 0;
}

/*
 * Forms
 */
.required .control-label:after {
    content: "*";
    color: red;
}

/*
 * Icons
 */
.step {
    padding-right: 10px;
}

.back-step {
    padding-left: 10px;
}

/*
 * Tables
 */
tr.table-heading th {
    background-color: #f5f5f5;
}

/*
 * Panel
 */
.panel-divider {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

/*
 * Test details
 */
div.question-statement {
    display: inline !important;
}

div.question-statement p:first-of-type {
    display: inline-block;
}

div.question-statement p:first-of-type:before {
    content: '';
    margin-left: 4px;
}

p.editormd-tex {
    text-align: center;
}

div.choice-answer {
    display: inline-block;
}

div.choice-answer > .MathJax_Display {
    margin: 0;
}

/*
 * News editor
*/

#editormd {
    width: 1339px;
    height: 726px;
    z-index: 89;
}

.editormd-fullscreen {
    z-index: 99 !important;
}

/*
 * Student test
 */

#student-test .list-group-item.alternative {
    padding: 0px;
    overflow: hidden;
}

#student-test .list-group-item.alternative > label {
    width: 100%;
    padding: 10px 15px;
    margin: 0px;
    cursor: pointer;
}

#student-test .list-group-item.alternative > input:checked + label {
    background-color: #428bca !important;
    color: white;
    transition: .2s ease-in-out;
}

#student-test .list-group-item.alternative > input:checked + label > span {
    display: inline-block !important;
    color: white;
}

#student-test textarea {
    resize: vertical;
}

.progress {
    text-align: center;
}

.progress .progress-bar {
    position: relative;
    overflow: hidden;
    transition: .2s ease;
}

.progress .progress-bar > span {
    left: initial;
    position: absolute;
    width: 100%;
    font-size: 14px !important;
}

.progress > span {
    position: absolute;
    left: 0;
    width: 100%;
}

#student-test .limits {
    border-top: 1px solid #ddd;
}

#student-test .limits input[type="number"] {
    border: none;
    padding: 30px;
    margin: 0;
    outline: none;
    text-align: center;
}

#student-test .text-answer {
    border-top: 1px solid #ddd;
}

#student-test .text-answer textarea {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 15px;
}

.focus-anim {
    transition: .2s ease;
}

.focus-anim:focus {
    transform: scale(1.01, 1.01);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#student-test .file {
    position: relative;
}

#student-test .file > a {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 15px;
}

table tr > td {
    vertical-align: middle !important;
}

table tr > td .lead {
    margin: 0;
}

body.body-student table tr > .spacing {
    padding-left: 20px !important;
    padding-right: 20px !important;
    white-space: nowrap;
}

body.body-student table tr > td.bg {
    background: #fafafa;
}

body.body-student, .body-test {
    background: #e9ebee;
}

body.body-student .main-container, body.body-test .panel-default {
    background: white;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid rgb(218, 220, 223);
}

div.student-news > .panel-body {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}

div.modal.modal-dialog-news {
    margin: 30px auto;
}

.navbar {
    margin: 0 !important;
}

.navbar-fixed-top {
    border-bottom: 1px #e7e7e7 solid;
}

.calendar-item {
    font-size: 10px;
    background-color: #f5f5f5;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.calendar-item:hover {
    background-color: #e5e5e5;
}

.calendar-item > div {
    margin-top: -4px;
}

#selected > .calendar-item {
    margin: 2px;
    display: inline-block;
    width: 15%;
}

.pretest-grade {
    background: #fafafa;
}

.pretest-feedback .feedback {
    padding: 15px;
    white-space: normal;
}

.pretest-feedback p {
    margin: 0;
}

/*
 * Test Review (Teacher section)
 */

div.review-question {
    overflow: hidden;
}

div.review-question > div:nth-child(2) {
    padding: 0px;
}

div.review-statement {
    padding: 20px 0px;
}

div.review-question div.list-group {
    margin: 0px;
}

div.review-question div.list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

div.review-question div.list-group-item:last-child {
    border-bottom: 0px;
}

div.review-answer > div:first-child {
    padding: 0px;
}

div.review-answer-alternative {
    padding-left: 0px;
    padding-right: 0px;
    color: inherit;
}

div.review-answer-alternative > input {
    margin-right: 10px;
}

div.review-answer-text {
    border-top: 1px solid #e9e9e9;
    padding: 20px !important;
    margin: 0px;
}

div.review-answer-numerical > * {
    padding: 20px;
    border-top: 1px solid #e9e9e9;
}

div.review-answer-numerical > *:nth-child(2) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

div.review-options {
    padding: 0;
    border-bottom: 1px solid #e9e9e9;
    background: #fafafa;
}

div.review-options > input.correct:checked + label {
    background: #5cb85c;
    color: #fff;
}

div.review-options > input.incorrect:checked + label {
    background: #d9534f;
    color: #fff;
}

div.review-options > label {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;
}

div.review-options > label:first-child {
    border-right: 1px solid #e9e9e9;
}

div.review-options label.blink {
    background: #f0ad4e !important;
    color: white !important;
}

div.review-footer {
    overflow: hidden;
}

div.review-footer table {
    margin: 0;
}

div.review-footer table tr:first-child td {
    border-top: none;
}

.review-footer.no-footer-border > .panel-footer {
    border-top: none;
}

.btn-statistics {
    margin-bottom: 10px;
}

/*
 * Pretest Review (Teacher section)
 */

#feedback > div {
    padding: 0;
}

#feedback textarea {
    resize: none;
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 15pt;
    font-weight: 300;
    height: 200px;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
}

#feedback input {
    outline: none;
    box-shadow: none;
    border: 0;
    font-size: 35pt;
    font-weight: 300;
    text-align: center;
    height: 200px;
}

#feedback input::-webkit-outer-spin-button,
#feedback input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 991px) {
    #feedback textarea {
        border: none;
        border-bottom: 1px solid #e5e5e5
    }
}

.no-margin {
    margin: 0 !important;
}

/*
 * Flyins
 */

.secret-code {
    padding: 10px;
    background: #ebffdb;
    border-radius: 5px;
    margin-left: 20px;
}

/*
 * Assistant
 */

.inscription-code {
    padding: 10px;
    display: block;
    text-align: center;
}

/*
 * Statistics
 */
.statistics {
    border-top: 1px solid #ddd;
}

.statistics > div {
    position: relative;
    padding: 15px;
    background: #fbfbfb;
}

.statistics > div * {
    z-index: 1;
    position: relative;
    margin: 0;
}

.statistics > div span {
    font-size: 200%;
}

.statistics .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.statistics .corrects {
    color: #5cb85c;
    border-right: 1px solid #ddd;
}

.statistics .incorrects {
    color: #d9534f;
}

.no-overflow {
    overflow: hidden;
}


/* Contact */
.contact {
    position: fixed;
    bottom: 0;
    background: #fafbfc;
    padding: 10px;
    border-top-right-radius: 5px;
}