{% extends 'form.html' %}
{% load bootstrap3 %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ view.get_course.get_absolute_url }}">{{ view.get_course }}</a></li>
    <li><a href="{{ view.get_course.get_tests_url }}">Controles</a></li>

    {% if form.instance.pk %}
      <li><a href="{% url 'tests:test_detail' view.get_course.pk form.instance.pk %}">{{ test }}</a></li>
      <li><a href="{% url 'tests:test_update' view.get_course.pk form.instance.pk %}">Editar</a></li>
    {% else %}
      <li><a href="{% url 'tests:test_create' view.get_course.pk %}">Nuevo</a></li>
    {% endif %}
  </ol>
{% endblock %}

{% block icon %}
  <span class="glyphicon glyphicon-file step"></span>
{% endblock %}

{% block object_name %}
  Control
{% endblock %}
