{% extends 'base_courses.html' %}
{% load bootstrap3 %}
{% load static %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ test.course.get_absolute_url }}">{{ test.course }}</a></li>
    <li><a href="{{ test.course.get_tests_url }}">Controles</a></li>
    <li><a href="{% url 'tests:test_review_statistics' test.course.pk test.pk %}">Estadísticas {{ test }}</a></li>
  </ol>
{% endblock %}

{% block container %}

  {% with test.get_submitted_tests  as answers %}
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header">
          <span class="glyphicon glyphicon-education step"></span>
          Estadísticas {{ test }} <span class="small">{{ answers.1 }} controles</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if request.GET.message == 'success' %}
          <div class="alert alert-success">
            Calificación enviada con éxito
          </div>
        {% elif request.GET.message == 'nomore' %}
          <div class="alert alert-warning">
            No quedan controles por calificar
          </div>
        {% endif %}

        <!-- Corrects vs Incorrects -->
        {% for version, data in correctIncorrects.items %}
          <h1>Forma {{ version }}</h1>
          {% for i, question in data.items %}
            <div class="panel panel-default clearfix no-overflow">
              <div class="panel-body">
                <h3>{{ question.number }}.
                  <small>{{ question.question.text }}</small>
                </h3>
              </div>
              <div class="statistics text-center clearfix">
                <div class="col-md-6 corrects">
                  <p>Correctas</p>
                  <span class="lead">{{ question.correct }}</span>
                  <div class="bar" style="height: {{ question.correctPercentage|floatformat:"-3" }}%"></div>
                </div>
                <div class="col-md-6 incorrects">
                  <p>Incorrectas</p>
                  <span class="lead">{{ question.incorrect }}</span>
                  <div class="bar" style="height: {{ question.incorrectPercentage|floatformat:"-3" }}%"></div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    </div>
  {% endwith %}
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
  <script>
      $(document).ready(function () {
          $('.table').DataTable({
              "language": {
                  "paginate": {
                      "first": "Primera página",
                      "last": "Última página",
                      "next": "Siguiente",
                      "previous": "Anterior"
                  },
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "lengthMenu": "Mostrar _MENU_ controles por página",
                  "loadingRecords": "Por favor, espere",
                  "search": "Buscar",
                  "zeroRecords": "No hay resultados para la búsqueda",
                  "infoEmpty": "No hay controles para mostrar",
                  "infoFiltered": "(De un total de _MAX_ controles)"
              },
              "columnDefs": [
                  {"orderable": false, "targets": 3}
              ]
          });
      });
  </script>
{% endblock %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
{% endblock %}
