{% extends 'base_courses.html' %}
{% load bootstrap3 %}
{% load static %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ test.course.get_absolute_url }}">{{ test.course }}</a></li>
    <li><a href="{{ test.course.get_tests_url }}">Controles</a></li>
    <li><a href="{% url 'tests:test_review_list' test.course.pk test.pk %}">Revisión {{ test }}</a></li>
  </ol>
{% endblock %}

{% block container %}

  {% with test.get_submitted_tests  as answers %}
    <div class="row">
      <div class="col-sm-12">
        <h1 class="header">
          <span class="glyphicon glyphicon-check step"></span>
          Revisión {{ test }} <span class="small">{{ answers.3 }} de {{ answers.1 }} revisiones pendientes</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{% url 'tests:test_review_statistics' test.course.pk test.pk %}" role="button"
           class="btn btn-success btn-block btn-statistics">Ver estadísticas</a>
      </div>

      <div class="col-sm-4">
        <a href="{% url 'tests:test_download_all' test.course.pk test.pk %}" class="btn btn-primary btn-block">Descargar todo</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% if request.GET.message == 'success' %}
          <div class="alert alert-success">
            Calificación enviada con éxito
          </div>
        {% elif request.GET.message == 'nomore' %}
          <div class="alert alert-warning">
            No quedan controles por calificar
          </div>
        {% endif %}
        <div class="table-responsive ">
          <table class="table panel panel-default">
            <thead>
            <tr class="table-heading">
              <th width="80%">Estudiante</th>
              <th width="20%">Agenda</th>
              <th width="0%">Estado</th>
              <th width="0%">Nota</th>
              <th width="0%"></th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers.0 %}
              <tr>
                <td>{{ answer.student.first_name }} {{ answer.student.last_name }}</td>
                <td>{{ answer.get_student_agenda }}</td>
                <td>
                  {% if answer.qualification is not None %}
                    <span class="text-success">Revisada</span>
                  {% else %}
                    <span class="text-danger">Pendiente</span>
                  {% endif %}
                </td>
                <td>
                  {{ answer.qualification|default_if_none:"-" }}
                </td>
                <td><a href="{{ answer.get_review_url }}" type="button" class="btn btn-primary">Calificar</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endwith %}
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
  <script>
      $(document).ready(function () {
          $('.table').DataTable({
              "language": {
                  "paginate": {
                      "first": "Primera página",
                      "last": "Última página",
                      "next": "Siguiente",
                      "previous": "Anterior"
                  },
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "lengthMenu": "Mostrar _MENU_ controles por página",
                  "loadingRecords": "Por favor, espere",
                  "search": "Buscar",
                  "zeroRecords": "No hay resultados para la búsqueda",
                  "infoEmpty": "No hay controles para mostrar",
                  "infoFiltered": "(De un total de _MAX_ controles)"
              },
              "columnDefs": [
                  {"orderable": false, "targets": 3}
              ]
          });
      });
  </script>
{% endblock %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/datatables.min.css' %}"/>
{% endblock %}
