{% extends 'base.html' %}

{% block breadcrump %}

{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          ¿Está seguro/a?
        </div>

        <div class="panel-body">
          Va a duplicar:

          <h4>
              <a href="{{ object.get_absolute_url }}">  Forma {{ object.get_letter }} del control {{ object.test.name }} </a>
          </h4>

          ¿Desea continuar con esta acción?
        </div>

        <div class="panel-footer">
          <form action="" method="post">
            {% csrf_token %}

            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Volver</a>
            <button type="submit" class="btn btn-danger pull-right">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{%block script %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });

  </script>

  <script type="text/javascript"
          src="//lab.mat.utfsm.cl/mathjax/MathJax.js">
  </script>
{% endblock %}