{% if course.pretest_set.count == 0 %}
  <div class="alert alert-warning">
    Sin sesiones
  </div>
{% else %}
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr class="table-heading">
          <th width="50%">Nombre</th>
          <th>Inicio</th>
          <th>Entrega</th>
          <th>Porcentaje</th>
          <th>Mostrar calificación</th>
        </tr>
        </thead>

        <tbody>
        {% for pretest in course.pretest_set.all %}
          <tr>
            <td><a href="{{ pretest.get_absolute_url }}">{{ pretest.name }}</a></td>
            <td>{{ pretest.start_session.number }}</td>
            <td>{{ pretest.end_session.number }}</td>
            <td>{{ pretest.percentage }}%</td>
            <td>{{ pretest.show_grade|yesno:'Si,No' }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
