{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
    <li><a href="{% url 'pretests:index' course.pk %}">Preinformes</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <a href="{% url 'pretests:create' course.pk %}" class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-plus"></span>
        Nuevo Preinforme
      </a>

      <h1 class="header"><span class="glyphicon glyphicon-inbox step"></span> Preinformes</h1>

      {% include 'pretests/_list.html' %}
    </div>
  </div>
{% endblock %}