{% extends 'base_courses.html' %}
{% load bootstrap3 %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ pretest.course.get_absolute_url }}">{{ pretest.course }}</a></li>
    <li><a href="{{ pretest.course.get_pretests_url }}">Preinformes</a></li>
    <li><a href="{{ pretest.get_absolute_url }}">{{ pretest }}</a></li>
    <li><a href="{% url 'pretests:pretestfile_create' pretest.pk %}">Subir Archivo</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header"><span class="glyphicon glyphicon-inbox step"></span> Subir Archivo</h1>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="panel panel-default">
          <div class="panel-body">
            {% include '_form.html' %}
          </div>

          <div class="panel-footer text-right">
            <button class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
