<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Acciones <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li><a href="{% url 'news:new_create' course.pk %}"><span class="glyphicon glyphicon-bookmark step"></span>
      Publicar Noticia</a></li>
    <li><a href="{% url 'classes:create' course.pk %}">
      <span class="glyphicon glyphicon-map-marker step"></span> Nueva Sesión</a>
    </li>

    <li><a href="{% url 'pretests:create' course.pk %}">
      <span class="glyphicon glyphicon-inbox step"></span> Nuevo Preinforme</a>
    </li>

    <li><a href="{% url 'tests:test_create' course.pk %}">
      <span class="glyphicon glyphicon-file step"></span> Nuevo Control</a>
    </li>

    <li><a href="{% url 'files:create' course.pk %}">
      <span class="glyphicon glyphicon-download step"></span> Subir Archivo</a>
    </li>

    <li role="separator" class="divider"></li>

    <li><a href="{{ course.get_preregistrations_url }}">
      <span class="glyphicon glyphicon-th step"></span> Preinscripciones</a>
    </li>

    <li><a href="{% url 'courses:grades' course.pk %}">
      <span class="glyphicon glyphicon-ok step"></span> Califaciones</a>
    </li>
  </ul>
</div>