<li role="presentation" {% if ACTIVE == 'agendas' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_agendas_url }}"><span
      class="glyphicon glyphicon-calendar step"></span> Agendas</a>
</li>

{% if ACTIVE == 'agendas' %}
  {% for agenda in view.get_course.agenda_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ agenda.get_attendance_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ agenda }} {{ agenda.room }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'sessions' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_sessions_url }}"><span
      class="glyphicon glyphicon-map-marker step"></span> Sesiones</a>
</li>
{% if ACTIVE == 'sessions' %}
  {% for session in view.get_course.session_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ session.get_absolute_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ session }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'pretests' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_pretests_url }}"><span
      class="glyphicon glyphicon-inbox step"></span> Preinformes</a>
</li>
{% if ACTIVE == 'pretests' %}
  {% for pretest in view.get_course.pretest_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ pretest.get_absolute_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ pretest }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'tests' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_tests_url }}"><span
      class="glyphicon glyphicon-file step"></span> Controles</a>
</li>
{% if ACTIVE == 'tests' %}
  {% for test in view.get_course.test_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ test.get_absolute_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ test }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'news' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_news_url }}"><span
      class="glyphicon glyphicon-bookmark step"></span> Noticias</a>
</li>
{% if ACTIVE == 'news' %}
  {% for new in view.get_course.new_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ new.get_absolute_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ new }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'files' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_files_url }}"><span
      class="glyphicon glyphicon-download step"></span> Archivos</a>
</li>
{% if ACTIVE == 'files' %}
  {% for file in view.get_course.coursefile_set.all %}
    <li role="presentation" class="nav-inner-item">
      <a href="{{ file.get_absolute_url }}">
        <span class="glyphicon glyphicon-menu-right step"></span>
        {{ file }}
      </a>
    </li>
  {% endfor %}
{% endif %}

<li role="presentation" {% if ACTIVE == 'grades' %}class="active"{% endif %}>
  <a href="{{ view.get_course.get_grades_url }}"><span
      class="glyphicon glyphicon-ok step"></span> Calificaciones</a>
</li>

{% if not view.get_course %}
  <div class="alert alert-danger">
    Miss configured View!
  </div>
{% endif %}
