{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">{{ course }}</h1>
    </div>
  </div>

  <div class="row">
    <!-- Agendas -->
    <div class="col-sm-8">
      <h3><span class="glyphicon glyphicon-calendar step"></span> Agendas</h3>
      {% include 'courses/_agendas.html' %}
      <hr>

      <a class="pull-right right-link" href="{% url 'news:index' course.pk %}">Ver todas</a>
      <h3><span class="glyphicon glyphicon-bookmark step"></span> Noticias</h3>
      {% include 'news/_list.html' %}

      <hr>

      <a class="pull-right right-link" href="{% url 'classes:index' course.pk %}">Expandir</a>
      <h3><span class="glyphicon glyphicon-map-marker step"></span> Sesiones</h3>
      {% include 'classes/_list_small.html' %}

      <hr>

      <a class="pull-right right-link" href="{% url 'pretests:index' course.pk %}">Expandir</a>
      <h3><span class="glyphicon glyphicon-inbox step"></span> Preinformes</h3>
      {% include 'pretests/_list_small.html' %}

      <hr>

      <h3><span class="glyphicon glyphicon-file step"></span> Controles</h3>

      <div class="alert alert-warning">
        Sin controles
      </div>

      <hr>

      <a class="pull-right right-link" href="{% url 'files:index' course.pk %}">Ver todos</a>
      <h3><span class="glyphicon glyphicon-download step"></span> Archivos</h3>
      {% include 'files/_list.html' %}
    </div>

    <!-- Information -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Curso
        </div>

        <div class="panel-body">
          <table width="100%">
            <tr>
              <td width="50%">Sigla</td>
              <td>{{ course.code }}</td>
            </tr>

            <tr>
              <td width="50%">Año y Semestre</td>
              <td>{{ course.year }} - {{ course.semester }}</td>
            </tr>

            <tr>
              <td width="50%">Alumnos inscritos</td>
              <td>{{ course.count_inscriptions }}</td>
            </tr>

            <tr>
              <td width="50%">Profesores</td>
              <td>
                {% for teacher in course.teachers.all %}
                  <div>{{ teacher.get_full_name }}</div>
                {% endfor %}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Acciones
        </div>

        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'news:create' course.pk %}">
              <span class="glyphicon glyphicon-bookmark step"></span> Publicar Noticia</a>
            </li>

            <li><a href="{% url 'classes:create' course.pk %}">
              <span class="glyphicon glyphicon-map-marker step"></span> Nueva Sesión</a>
            </li>

            <li><a href="#">
              <span class="glyphicon glyphicon-inbox step"></span> Nuevo Preinforme</a>
            </li>

            <li><a href="#">
              <span class="glyphicon glyphicon-file step"></span> Nuevo Control</a>
            </li>

            <li><a href="{% url 'files:create' course.pk %}">
              <span class="glyphicon glyphicon-download step"></span> Subir Archivo</a>
            </li>
          </ul>

          <hr>

          <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'news:create' course.pk %}">
              <span class="glyphicon glyphicon-th step"></span> Preinscripciones</a>
            </li>

            <li><a href="{% url 'classes:create' course.pk %}">
              <span class="glyphicon glyphicon-ok step"></span> Califaciones</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
