{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">{{ course }}</h1>
    </div>
  </div>

  <div class="row">
    <!-- Agendas -->
    <div class="col-sm-8">
      <h3>Agendas</h3>
      {% include 'courses/_agendas.html' %}
      <hr>

      <div>
        <div class="pull-right">
          <a href="{% url 'news:create' course.pk %}">
            <span class="glyphicon glyphicon-plus"></span> Publicar noticia
          </a>
        </div>
        <h3><a href="{% url 'news:index' course.pk %}">Noticias</a></h3>
      </div>
      {% include 'news/_list.html' %}
      <hr>

      <h3>Sesiones</h3>

      <hr>

      <h3>Preinformes</h3>

      <hr>

      <h3>Controles</h3>
    </div>

    <!-- Information -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Curso
        </div>

        <div class="panel-body">
          <table width="100%">
            <tr>
              <td width="50%">Sigla</td>
              <td>{{ course.code }}</td>
            </tr>

            <tr>
              <td width="50%">Año y Semestre</td>
              <td>{{ course.year }} - {{ course.semester }}</td>
            </tr>

            <tr>
              <td width="50%">Alumnos inscritos</td>
              <td>-</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
