{% load static %}
{% load user %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ADN3</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>

  <script type="text/javascript"
          src="{% static 'mathjax/MathJax.js' %}">
  </script>

  {% block link %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'landing:index' %}">ADN3</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'landing:index' %}">Inicio</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'courses:index' %}">Cursos</a></li>
        {% else %}
          <li><a href="{% url 'students:course_list' %}">Cursos</a></li>
        {% endif %}

        {% if user|is_coordinator %}
          <li>
            <a href="{% url 'coordination:coordination_index' %}">Coordinación</a>
          </li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{ request.user }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'landing:logout' %}">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

{% block page %}
  <div class="container">
    {% block container %}{% endblock %}
  </div>
{% endblock %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>
