{% extends 'base.html' %}
{% load markup_tags %}

{% block breadcrump %}{% endblock %}

{% block container %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-block btn-lg btn-success" href="{% url 'flyins:rol_authentication' %}">
          Click para ingresar pre-inscripciones
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 16px">
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">Bienvenido</div>

          <div class="panel-body text-justify">
            {{ welcome_message|apply_markup:"markdown" }}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        {% include 'landing/_login.html' %}
      </div>
    </div>
  </div>
{% endblock %}
