{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
  <![endif]-->
  <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      messageStyle: "none"
    });


  </script>
  <script type="text/javascript"
          src="{% static 'vendor/mathjax/MathJax.js' %}">
  </script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  {% block link %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'landing:index' %}">ADN3</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'landing:index' %}">Inicio</a></li>

        {% if user.is_authenticated %}
          <li><a href="{% url 'courses:index' %}">Cursos</a></li>
        {% else %}
          <li><a href="{% url 'public:course_list' %}">Cursos</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="#">Bienvenido, {{ request.user }}</a></li>
        {% endif %}

        <li><a href="#">¿Necesita ayuda?</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        {% include 'courses/_tabs.html' %}
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% block breadcrump %}
        <div class="alert alert-danger">
          BREADCRUMP MISSING
        </div>
      {% endblock %}

      {% block container %}{% endblock %}

      <div class="row">
        <div class="col-sm-12">
          <footer>
            <div class="row">
              <div class="col-sm-8">
                <p>
                  Departamento de Matemáticas, 2016,
                  <br>Universidad Técnica Federico Santa Maria
                </p>
              </div>

              <div class="col-sm-4 text-right">
                {% if user.is_authenticated %}
                  <a href="{% url 'landing:logout' %}">Cerrar Sesión</a>
                {% endif %}
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>
