<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Acciones <span class="caret"></span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="{% url 'news:new_create' course.pk %}">
      <span class="glyphicon glyphicon-bookmark step"></span> Publicar Noticia</a>
    </li>

    <li><a href="{% url 'classes:session_create' course.pk %}">
      <span class="glyphicon glyphicon-map-marker step"></span> Nueva Sesión</a>
    </li>

    <li><a href="{% url 'pretests:pretest_create' course.pk %}">
      <span class="glyphicon glyphicon-inbox step"></span> Nuevo Preinforme</a>
    </li>

    <li><a href="{% url 'tests:test_create' course.pk %}">
      <span class="glyphicon glyphicon-file step"></span> Nuevo Control</a>
    </li>

    <li><a href="{% url 'files:coursefile_create' course.pk %}">
      <span class="glyphicon glyphicon-download step"></span> Subir Archivo</a>
    </li>

    <li role="separator" class="divider"></li>

    <li><a href="{% url 'courses:course_grades' course.pk %}">
      <span class="glyphicon glyphicon-ok step"></span> Calificaciones</a>
    </li>
  </ul>
</div>
