{% if course.agenda_set.count == 0 %}
  <div class="alert alert-warning">
    Sin agendas
  </div>
{% else %}
  <a class="btn btn-info btn-block mb-1" href="{% url 'courses:course_students_excel' course.pk %}">
    Decargar lista de estudiantes
  </a>
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr class="table-heading">
          <th width="19%">Día</th>
          <th width="19%">Bloque</th>
          <th width="19%">Sala</th>
          <th width="19%">Inscritos</th>
          <th width="19%">Ayudantes</th>
          <th width="5%"></th>
        </tr>
        </thead>

        <tbody>
        {% for agenda in course.agenda_set.all %}
          <tr>
            <td>{{ agenda.get_day_display }}</td>
            <td>{{ agenda.get_block_display }}</td>
            <td>{{ agenda.room.name }}</td>
            <td>{{ agenda.inscriptions.count }}</td>
            <td>{{ agenda.assistants.count }}</td>
            <td>
              <a href="{% url 'attendance:show' course.pk agenda.pk %}" title="Asistencia">
                <span class="glyphicon glyphicon-list-alt step"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
