{% extends 'base_courses.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>

    {% if section == 'agendas' %}
      <li class="active"><a href="{{ course.get_agendas_url }}">Agendas</a></li>
    {% endif %}

    {% if section == 'sessions' %}
      <li class="active"><a href="{{ course.get_sessions_url }}">Sesiones</a></li>
    {% endif %}

    {% if section == 'pretests' %}
      <li class="active"><a href="{{ course.get_pretests_url }}">Preinformes</a></li>
    {% endif %}

    {% if section == 'tests' %}
      <li class="active"><a href="{{ course.get_tests_url }}">Controles</a></li>
    {% endif %}

    {% if section == 'news' %}
      <li class="active"><a href="{{ course.get_news_url }}">Noticias</a></li>
    {% endif %}

    {% if section == 'files' %}
      <li class="active"><a href="{{ course.get_files_url }}">Archivos</a></li>
    {% endif %}
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <div class="pull-right">
        <div class="hidden-xs">
          {% include 'courses/_actions_button.html' %}
        </div>
      </div>

      <div class="hidden-xs">
        <h2 class="header">{{ course }}</h2>
      </div>

      <div class="visible-xs">
        <h4 class="header">{{ course }}</h4>
      </div>
    </div>
  </div>

  <div class="row visible-xs">
    <div class="col-sm-12">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Sección <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          {% include 'courses/_tabs.html' %}
        </ul>
      </div>

      <span class="back-step">
        {% include 'courses/_actions_button.html' %}
      </span>
      <hr>
      {% if question.choicequestion %}
        {% include 'tests/_choice_answers.html' %}
      {% elif question.numericalquestion %}
        {% include 'tests/_numerical_limits.html' %}
      {% endif %}
    </div>
  </div>

  <p></p>

  <p></p>

  <div class="row">
    <div class="col-sm-12">
      {% if section == 'agendas' %}
        {% include 'courses/_agendas.html' %}
      {% endif %}

      {% if section == 'sessions' %}
        <a href="{% url 'classes:session_create' course.pk %}" class="btn btn-success btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
          Nueva Sesión
        </a>

        <h3 class="header"><span class="glyphicon glyphicon-map-marker step"></span> Sesiones</h3>

        {% include 'classes/_list.html' %}
      {% endif %}

      {% if section == 'pretests' %}
        <a href="{% url 'pretests:pretest_create' course.pk %}" class="btn btn-success btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
          Nuevo Preinforme
        </a>

        <h3 class="header"><span class="glyphicon glyphicon-inbox step"></span> Preinformes</h3>

        {% include 'pretests/_list.html' %}

        <h3 class="header"><span class="glyphicon glyphicon-check step"></span> Disponibles para revisión</h3>

        {% with course.pretest_set as pretest_list %}
          {% include 'pretests/_pretest_review_list.html' %}
        {% endwith %}
      {% endif %}

      {% if section == 'tests' %}
        <a href="{% url 'tests:test_create' course.pk %}" class="btn btn-success btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
          Nuevo Control
        </a>

        <h3 class="header"><span class="glyphicon glyphicon-file step"></span> Controles</h3>

        {% with course.test_set as test_list %}
          {% include 'tests/_test_list.html' %}
        {% endwith %}

        <br>

        <h3 class="header"><span class="glyphicon glyphicon-check step"></span> Disponibles para revisión</h3>

        {% with course.test_set as test_list %}
          {% include 'tests/_test_review_list.html' %}
        {% endwith %}
      {% endif %}

      {% if section == 'news' %}
        <a href="{% url 'news:new_create' course.pk %}" class="btn btn-success btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
          Nueva Noticia
        </a>

        <h3 class="header"><span class="glyphicon glyphicon-bookmark step"></span> Noticias</h3>

        {% with course.new_set.all as new_list %}
          {% include 'news/_list.html' %}
        {% endwith %}
      {% endif %}

      {% if section == 'files' %}
        <a href="{% url 'files:coursefile_create' course.pk %}" class="btn btn-success btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
          Subir Archivo
        </a>

        <h3 class="header"><span class="glyphicon glyphicon-download step"></span> Archivos</h3>

        {% include 'files/_list.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
