{% extends 'base_courses.html' %}
{% load bootstrap3 %}

{% block breadcrump %}
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <!-- Control buttons -->
        <span class="glyphicon glyphicon-repeat step"></span>
        Reestablecer Contraseña Estudiante
      </h1>

      <div class="panel panel-default">
        <form action="" method="post">
          {% csrf_token %}

          <div class="panel-body">
            <div class="alert alert-warning">
              <p>
                Este formulario cambiará la contraseña de un estudiante a <strong>{{ password }}</strong>, usted deberá
                preocuparse de informar al estudiante del cambio de contraseña, y decirle que debe cambiarla a una
                contraseña segura, se sugiere enviar el siguiente mensaje en un Email:
              </p>

              <hr>

              <p style="font-style: italic">
                Su nueva contraseña es <strong>{{ password }}</strong>
              </p>

              <p style="font-style: italic">
                Una vez pueda acceder a su cuenta deberá cambiar a una contraseña que pueda recordar, presionando en su
                email en la esquina superior derecha, luego en Perfil, y finalmente en <strong>Cambiar
                Contraseña</strong>.
              </p>
            </div>

            <input type="hidden" name="password" value="{{ password }}">

            {% if err_message %}
              <div class="alert alert-danger">
                {{ err_message }}
              </div>
            {% endif %}

            <div class="form-group">
              <label for="">Email del estudiante</label>
              <input type="email" class="form-control" name="email" placeholder="Correo" required>
            </div>

            <div class="form-group">
              <label for="">Nueva contraseña</label>
              <input type="text" class="form-control" value="{{ password }}" required disabled>
            </div>
          </div>

          <div class="panel-footer">
            <button class="btn btn-primary pull-right">Cambiar contraseña</button>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>

    </div>
  </div>
{% endblock %}
