{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' course.pk %}">{{ course }}</a></li>
    <li><a href="{% url 'files:index' course.pk %}">Archivos</a></li>
    <li><a href="{% url 'files:create' course.pk %}">Subir Archivo</a></li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header"><span class="glyphicon glyphicon-upload step"></span> Subir Archivo</h1>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="panel panel-default">
          <div class="panel-body">
            {% include '_form.html' %}
          </div>

          <div class="panel-footer text-right">
            <button class="btn btn-primary">Subir</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
