{% extends 'base.html' %}
{% load bootstrap3 %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
    <li><a href="{{ course.get_files_url }}">Archivos</a></li>
    {% if form.instance.pk %}
      <li><a href="{% url 'files:edit' course.pk form.instance.pk %}">Editar Archivo</a></li>
    {% else %}
      <li><a href="{% url 'files:create' course.pk %}">Subir Archivo</a></li>
    {% endif %}
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-upload step"></span>
        {% if form.instance.pk %}
          Editar
        {% else %}
          Subir
        {% endif %}
        Archivo
      </h1>

      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="panel panel-default">
          <div class="panel-body">
            {% include '_form.html' %}
          </div>

          <div class="panel-footer text-right">
            <button class="btn btn-primary">Subir</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
