{% extends 'base.html' %}

{% block breadcrump %}{% endblock %}

{% block container %}
  <div class="container">
    <div class="row" style="margin-top: 16px">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Por favor, ingrese su Rol USM para continuar.</div>
          <div class="panel-body text-justify">
            {% if form.errors %}
              <div class="alert alert-danger">
                <strong>El Rol no es válido.</strong>
              </div>
            {% endif %}
            <form action="" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input id="rol" name="rol" class="form-control" placeholder="123456789-0" required>
              </div>
              <input type="submit" class="btn btn-success btn-block lead">
              <br>
              <div id="warning" class="alert alert-warning hidden no-margin">Aviso: El número ingresado no parece ser un rol</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      var currentYear = (new Date()).getFullYear();

      $(document).ready(function () {
          $("#rol").bind('change blur keyup click', function () {
              let regex = /(\d*)\-([\dK])/gi;
              $('#warning').addClass('hidden');
              let rol = regex.exec($(this).val());
              if (rol != null) {
                  let year = rol[0].substring(0, 4);
                  let career = rol[0].substring(4, 6);
                  let position = rol[0].substring(6, 9);

                  if (parseInt(year) > currentYear || parseInt(year) < 2010 || rol[1].length !== 9) {
                      $('#warning').removeClass('hidden');
                  }
              }
          });
      });
  </script>
{% endblock %}
