{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{{ agenda.course.get_absolute_url }}">{{ agenda.course }}</a></li>
    <li><a href="{{ agenda.course.get_agendas_url }}">Agendas</a></li>
    <li>
      <a href="{% url 'attendance:show' agenda.pk %}">
        Asistencia:
        {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </a>
    </li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-list-alt step"></span>
        Asistencia: {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </h1>

      {% if table %}
        {% include 'attendance/_table.html' %}
      {% else %}
        <div class="alert alert-warning">
          Debe agregar al menos una sesión para pasar asistencia.
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
