{% extends 'base.html' %}

{% block breadcrump %}
  <ol class="breadcrumb">
    <li><a href="{% url 'courses:index' %}">Cursos</a></li>
    <li><a href="{% url 'courses:show' agenda.course.pk %}">{{ agenda.course }}</a></li>
    <li><a href="#">Asistencia</a></li>
    <li>
      <a href="{% url 'attendance:show' agenda.pk %}">
        {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </a>
    </li>
  </ol>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-list-alt step"></span>
        Asistencia: {{ agenda.get_day_display }} {{ agenda.get_block_display }}
      </h1>

      <form action="{% url 'attendance:save' agenda.pk %}" method="post">
        {% csrf_token %}

        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Rol</th>

                <!-- Sessions -->
                {% for session in agenda.course.session_set.all %}
                  <th>{{ session.number }}</th>
                {% endfor %}
              </tr>
              </thead>

              <tbody>
              {% for attendance in table %}
                <tr>
                  <td>
                    {{ attendance.0.get_full_name }}
                  </td>

                  <td>
                    -
                  </td>

                  {% for a in attendance.1 %}
                    <td>{{ a.attended }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="panel-footer">
            <div class="text-right">
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
