/*
 * General
 */
.header {
  margin-top: 0;
  padding-bottom: 8px;
  padding-left: 2px;
  border-bottom: 1px #dedede solid;
}

/*
 * Navbar
 */

.navbar {
  margin: 0;
  border-radius: 0;
}
.navbar + .container {
  margin-top: 24px;
}

/*
 * Footer
 */
footer {
  background-color: #f4f4f4;
  margin-top: 16px;
  padding: 32px;
}
footer .header {
  margin-top: 0;
  border-bottom: 1px #ccc solid;
}
footer .nav a {
  color: #333333;
}
footer .nav a:hover {
  background-color: #eaeaea;
}