/*
 * General
 */
.header, .page-header {
  margin-top: 0;
  padding-bottom: 8px;
  padding-left: 2px;
  border-bottom: 1px #dedede solid;
}

body {
  color: #555;
}

.container {
  max-width: 1000px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#course-container {
    padding-top: 15px;
}

#course-container > div:nth-child(2) {
    border-left: 1px solid #ededed;
}

#course-container > div:nth-child(1) > ul{
    position: fixed;
    width: inherit;
    padding-right: 40px;
}


/*
 * Navbar
 */
.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar + .container {
  margin-top: 24px;
}

/*
 * Special text
 */
.info-date {
  padding: 8px;
  color: #999;
}

.text-fit {
  margin: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-link {
  margin-top: 8px;
}

.header-fit {
  margin-bottom: 5px;
}

.fit {
  margin: 0;
}

/*
 * Forms
 */
.required .control-label:after {
  content: "*";
  color: red;
}

/*
 * Icons
 */
.step {
  padding-right: 10px;
}

.back-step {
  padding-left: 10px;
}

/*
 * Tables
 */
tr.table-heading th {
  background-color: #f5f5f5;
}

/*
 * Panel
 */
.panel-divider {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/*
 * Test details
 */
div.question-statement {
	display: inline !important;
}

div.question-statement p:first-of-type {
	display: inline-block;
}
div.question-statement p:first-of-type:before {
	content: '';
	margin-left: 4px;
}

p.editormd-tex {
	text-align: center;
}

div.choice-answer {
  display: inline-block;
}

div.choice-answer > .MathJax_Display {
  margin: 0;
}

/*
 * News editor
*/

#editormd {
    width: 1339px;
    height: 726px;
    z-index: 99;
}
