/*
 * General
 */
.header, .page-header {
  margin-top: 0;
  padding-bottom: 8px;
  padding-left: 2px;
  border-bottom: 1px #dedede solid;
}

body {
  color: #555;
}

.container {
  max-width: 1000px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#course-container {
    padding-top: 15px;
}

#course-container > div:nth-child(2) {
    border-left: 1px solid #ededed;
}

#course-container > div:nth-child(1) > ul{
    position: fixed;
    width: inherit;
    padding-right: 40px;
}


/*
 * Navbar
 */
.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar + .container {
  margin-top: 24px;
}

/*
 * Special text
 */
.info-date {
  padding: 8px;
  color: #999;
}

.text-fit {
  margin: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-link {
  margin-top: 8px;
}

.header-fit {
  margin-bottom: 5px;
}

.fit {
  margin: 0;
}

/*
 * Forms
 */
.required .control-label:after {
  content: "*";
  color: red;
}

/*
 * Icons
 */
.step {
  padding-right: 10px;
}

.back-step {
  padding-left: 10px;
}

/*
 * Tables
 */
tr.table-heading th {
  background-color: #f5f5f5;
}

/*
 * Panel
 */
.panel-divider {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/*
 * Test details
 */
div.question-statement {
	display: inline !important;
}

div.question-statement p:first-of-type {
	display: inline-block;
}
div.question-statement p:first-of-type:before {
	content: '';
	margin-left: 4px;
}

p.editormd-tex {
	text-align: center;
}

div.choice-answer {
  display: inline-block;
}

div.choice-answer > .MathJax_Display {
  margin: 0;
}

/*
 * News editor
*/

#editormd {
    width: 1339px;
    height: 726px;
    z-index: 99;
}

/* Student test */
#student-test .list-group-item.alternative {
  padding: 0px;
  overflow: hidden;
}

#student-test .list-group-item.alternative > label {
  width: 100%;
  padding: 10px 15px;
  margin: 0px;
  cursor: pointer;
}

 #student-test .list-group-item.alternative > input:checked + label {
  background-color: #428bca !important;
  color: white;
  transition: .2s ease-in-out;
}

#student-test .list-group-item.alternative > input:checked + label > span {
  display: inline-block !important;
  color: white;
}

#student-test textarea {
  resize: vertical;
}

#student-test .progress {
  text-align: center;
}

#student-test .progress .progress-bar {
  position: relative;
  overflow: hidden;
  transition: .2s ease;
}

#student-test .progress .progress-bar > span {
  left: initial;
  position: absolute;
  width: 100%;
  font-size: 14px !important;
}

#student-test .progress > span {
  position: absolute;
  left: 0;
  width: 100%;
}

#student-test .limits {
  overflow: hidden;
}
#student-test .limits input[type="number"] {
  border: none;
  padding: 10px;
  outline: none;
}

table tr > td {
  vertical-align: middle !important;
}

body.body-test {
  background: #f8f8f8;
}

body.body-test .container:nth-child(3) {
  background: white;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(243, 243, 243);
}