{% extends 'base.html' %}

{% block breadcrump %}
  <!-- Left Blank -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-success">
        <div class="panel-heading">
          Registro Exitoso
        </div>

        <div class="panel-body">
          <p>Su cuenta se ha registrado exitosamente!</p>

          <p>Ahora puede dirigirse a la <a href="{% url 'landing:index' %}">página principal</a> para iniciar sesión.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
