{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block breadcrump %}
  <!-- Left Blank -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      <h1 class="header">
        <span class="glyphicon glyphicon-user"></span>
        Registro
      </h1>

      {% block form %}
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="panel panel-default">
            <div class="panel-body">
              {% with user_form as form %}
                {% include '_form.html' %}
              {% endwith %}

              {% with student_form as form %}
                {% include '_form.html' %}
              {% endwith %}

              <div id="warning" class="alert alert-warning hidden no-margin">
                <p><strong>Aviso</strong></p>
                <p>
                  El valor ingresado no parece ser un <strong>Rol</strong>, por favor
                  asegúrese que no sea su <strong>RUT</strong>.
                  Si este si es su <strong>Rol</strong> puede continuar.</p>
              </div>
            </div>
            <div class="panel-footer text-right">
              {% block panel_footer_extra %}
              {% endblock %}

              <button class="btn btn-primary">Confirmar Registro</button>
            </div>
          </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      var currentYear = (new Date()).getFullYear();

      $(document).ready(function () {
          $("#rol").bind('change blur keyup click', function () {
              let regex = /(\d*)\-([\dK])/gi;
              $('#warning').addClass('hidden');
              let rol = regex.exec($(this).val());
              if (rol !== null) {
                  let year = rol[0].substring(0, 4);
                  let career = rol[0].substring(4, 6);
                  let position = rol[0].substring(6, 9);

                  if (parseInt(year) > currentYear || parseInt(year) < 2010 || rol[1].length !== 9) {
                      $('#warning').removeClass('hidden');
                  }
              }
          });
      });
  </script>
{% endblock %}