{% extends 'base.html' %}
{% load static %}
{% block bodytag %}
  <body class="body-student">
{% endblock %}

{% block breadcrump %}
{% endblock %}

{% block container %}
  <div class="col-sm-12">
    <h1 class="page-header">{{ course }}</h1>
  </div>

  <div class="col-sm-12">
    <a href="https://lab.mat.utfsm.cl/manuales/ayudantes-de-sala.pdf" class="btn btn-primary btn-block btn-lg" target="_blank">
      MANUAL DEL AYUDANTE
    </a>

    <br>

    <div class="alert alert-success">
      Bienvenido(a) <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>!
    </div>

    {% if REGISTRATIONS_OPEN %}
      <h2 class="page-header"></span> Inscripción</h2>
      {% include 'assistants/_inscription.html' %}
    {% endif %}

    <h2 class="page-header"></span> Asistencia</h2>
    {% include 'assistants/_agendas.html' %}

    <h2 class="page-header"></span> Sesiones</h2>
    {% include 'students/_sessions.html' %}

    <h2 class="page-header"></span> Controles</h2>
    {% include 'assistants/_tests.html' %}

    <h2 class="page-header"></span> Preinformes</h2>
    {% include 'assistants/_pretests_summary.html' %}

    <!--
    <h2 class="page-header"></span> Calificaciones</h2>
    <div class="alert alert-warning">
        Not Implemented Yet
    </div>
    -->
  </div>
  </div>
{% endblock %}
